<div class="ht-eq">
    <div class="ht-row">
        <div class="back-white-black-border pad-10-px ht-cell width-49">
            <div class="align-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.0594828174226!2d-71.12727128509451!3d42.341504144266814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e379beee83fa7d%3A0xc8be98d4119380bb!2sKnight+Moves+Cafe!5e1!3m2!1sen!2sus!4v1458513250537" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>            <h4>Knight Moves Brookline</h4>
                <p>
                    Knight Moves Cafe<br>
                    1402 Beacon Street<br>
                    Brookline, MA 02446<br>
                    (617) 487-5259
                </p>
            </div>
            <p>
                <span class="bold">By MBTA:</span><br>
                Take the Green Line "C" Branch to the Winchester Street/Summit Avenue stop.
            </p>
            <p>
                <span class="bold">Parking:</span><br>
                There is on-street parking along Beacon Street for $1 per hour, and limited
                free parking around the corner on Summit Ave. There is also a metered public parking lot
                located on Centre Street. Meters are free after 8:00PM and on Sundays and holidays.
            </p>
        </div>
        <div class="back-white-black-border pad-10-px ht-cell width-49">
            <div class="align-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2466.61918617985!2d-71.12963438509233!3d42.403610440343655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e376e224083985%3A0x6ad40c141f8cca1b!2s1159+Broadway%2C+Somerville%2C+MA+02144!5e1!3m2!1sen!2sus!4v1458513217540" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>            <h4>Knight Moves Somerville</h4>
                <p>
                    Knight Moves Cafe<br>
                    1159 Broadway<br>
                    Somerville, MA 02144<br>
                    (617) 702-4726
                </p>
            </div>
            <p>
                <span class="bold">By MBTA:</span><br>
                Take the Red Line to the Davis Square stop. From there, you can walk up Holland Street to where it
                intersects with Broadway. Knight Moves will be on your right. You can also take the 87 or 88 bus towards
                Clarendon Hill to the Broadway @ Curtis Street - Teele Square stop.
            </p>
            <p>
                <span class="bold">Parking:</span><br>
                There is a metered public parking lot on Herbert Street where it intersects with Day Street, another
                at the intersection of Grove Street and Highland Avenue, another on Buena Vista Road off of Holland
                Street, a fourth off of Grove Street in between Elm Street and Highland Avenue, and a fifth called the
                Cutter Street Lot. Meters are free after 8:00PM and on Sundays and holidays. Please see this
                <a href="http://www.parksomerville.com/pdfs/davisparking_map.pdf">map</a> from
                <a href="http://www.parksomerville.com/">www.parksomerville.com</a>.
            </p>
        </div>
    </div>
</div>