<div>
    <div class="pad-10-px back-white-black-border margin-1">
        <h2>Events at Knight Moves Somerville</h2>

        <h3>Meetup Monday!</h3>
        <p>Every other Monday is a night for open table gaming (with optional nametags)
            where you are encouraged to come on your own and play games with other members
            of the community. No experience needed, we’re happy to teach you!
        </p>

        <h3>Ladies Knight!</h3>
        <p>Ladies Knight is a night of gaming that focuses on and celebrates the awesome women
            in our gaming community. If you’re into board games (or would like to be) and you
            identify as a woman in a way that’s significant to you, come on down and hang out
            with us! We’d love to meet you. Dates are available at the links below.
        </p>
        <br>
        <p>We also host additional nights of open-table gaming and one-time events and parties.</p>
        <br>
        <p>To get updates, check out upcoming events, and (if you’d like) sign up for email updates,
            check out our <a href="https://www.meetup.com/Knight-Moves-Somerville-Open-Table-Gaming/">Meetup.com group</a>.
            </p>
        <p>Or check us out on <a href="https://www.facebook.com/knightmovessomerville/events">Facebook</a>.</p>
    </div>
</div>