<div class="back-white-black-border pad-10-px margin-1">
    <p>
        <span class="bold">Q:</span> Do you take reservations?<br>
        <span class="bold">A:</span> No, but you can rent a room for an event.
        <a href="#/contact">Contact us</a> to discuss options.
    </p>
    <p>
        <span class="bold">Q:</span> When do I pay?<br>
        <span class="bold">A:</span> You can pay as you enter or as you leave.
    </p>
    <p>
        <span class="bold">Q:</span> How do I pay? <br>
        <span class="bold">A:</span> We accept all forms of payment including cash,
        check, Visa, Mastercard, American Express, and Discover.
    </p>
    <p>
        <span class="bold">Q:</span> Can I bring my own food?<br>
        <span class="bold">A:</span> Absolutely! There is an extra $2.00 charge for any
        outside food or drink. This fee is included if you have a monthly membership.
    </p>
    <p>
        <span class="bold">Q:</span> Can I bring my own games?<br>
        <span class="bold">A:</span> Yes, we encourage it.
    </p>
    <p>
        <span class="bold">Q:</span> Do I need to know how to play any games?<br>
        <span class="bold">A:</span> No. If you already know how to play, great!
        If you don't, we'll teach you!
    </p>
    <p>
        <span class="bold">Q:</span> Do you sell games?<br>
        <span class="bold">A:</span> No, but check out <a href="http://www.eurekapuzzles.com/">Eureka!</a>
        down the street from our Brookline location.
    </p>
    <p>
        <span class="bold">Q:</span> Are your games for kids or adults?<br>
        <span class="bold">A:</span> Knight Moves is for everyone!
    </p>
</div>