<div class="ht-eq">
    <div class="ht-row">
        <div class="back-white-black-border width-49 ht-cell" id="left-col-home">
            <div class="margin-left-right">
                <h2 class="align-center">Knight Moves Cafe Brookline Hours</h2>
                <table class="table table-bordered">
                    <tr>
                        <td>Monday-Thursday</td>
                        <td>3PM-11PM</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>3PM-2AM</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>11AM-2AM</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>11AM-11PM</td>
                    </tr>
                </table>
                <h2 class="align-center">Knight Moves Cafe Somerville Hours</h2>
                <table class="table table-bordered">
                    <tr>
                       <td>7 Days a Week</td>
                       <td>11AM-11PM</td>
                    </tr>
                 </table>
                <div class="margin-left-right">
                    <h2 class="align-center">Pricing</h2>
                    <table class="table table-bordered">
                        <tr>
                            <th>Unlimited Gaming for One for One Entrance</th>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Monday-Wednesday</td>
                            <td>$5.00</td>
                        </tr>
                        <tr>
                            <td>Thursday-Sunday</td>
                            <td>$10.00</td>
                        </tr>
                        <tr>
                            <th>Unlimited Entrances for One for One Month</th>
                            <td>$40.00</td>
                        </tr>
                        <tr>
                            <th>Unlimited Entry for Up to Two Parents and Up to Three Children for Three Months</th>
                            <td>$200.00</td>
                        </tr>
                        <tr>
                            <th>Other</th>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Outside Food and/or Drink Fee at Brookline location</td>
                            <td>$2.00</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="back-white-black-border width-49 ht-cell pad-10-px" id="right-col-home">
            <h2 class="align-center">About</h2>
            <p class="justified">
                Knight Moves is a board game café, with one location in Brookline, MA and
                another in Somerville, MA. The cafés offer coffee, snacks, and massive board game libraries.
                Customers can enjoy a comfortable space, with knowledgeable staff
                and a relaxed atmosphere. An evening at Knight Moves is hassle-free
                entertainment and a chance to spend time face-to-face with family and friends.
            </p>
            <img src="project/client/images/KM-staff.jpg" width="75%" class="center-pic"/>
        </div>
    </div>
</div>