<div class="back-white-black-border pad-10-px margin-1 col-lg-12">
    <div class="float-left-30 pad-10-px">
        <a class="twitter-timeline" href="https://twitter.com/KnightMovesCafe" data-widget-id="708015615408279552">Tweets by @KnightMovesCafe</a>
        <script>
            !function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                if(!d.getElementById(id)){
                    js=d.createElement(s);
                    js.id=id;
                    js.src=p+"://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);
                }}(document,"script","twitter-wjs");
        </script>
    </div>
    <div class="float-left-30 align-center pad-10-px">
        <p><a href="http://boston.eater.com/2016/1/19/10789418/knight-moves-somerville-expansion">Knight Moves Eyes Somerville Expansion</a></p>
        <p><a href="http://www.bestofboston.com/winner/best-bar-with-games/knight-moves-cafe-2015/">Best Bar With Games 2015</a></p>
    </div>
    <div class="float-left-30 pad-10-px">
        <iframe src="http://www.yelp.com/biz/knight-moves-brookline?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)" style="width: 350px; height: 500px;"></iframe>
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-post" data-href="https://www.facebook.com/clare.parker.5/posts/1007098982686160:0" data-width="500">
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/clare.parker.5/posts/1007098982686160:0">
                    <p>Okay, so Knight moves sometimes has weird hours. Okay so their service is sometimes slow.
                        Okay so the lighting in the...</p>
                    Posted by <a href="https://www.facebook.com/clare.parker.5">Clare Parker Fischer</a> on
                    &nbsp;
                    <a href="https://www.facebook.com/clare.parker.5/posts/1007098982686160:0">Friday, 27 November 2015</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>