<div class="pad-10-px">
    <div class="float-left-33 align-center pad-10-px">
        <h2>Games</h2>
        <table class="table table-bordered table-striped">
            <tr>
                <th colspan="2" class="align-center">Entry for One (Unlimited Time and Games)</th>
            </tr>
            <tr>
                <td>Monday-Wednesday</td>
                <td>$5.00</td>
            </tr>
            <tr>
                <td>Thursday-Sunday</td>
                <td>$10.00</td>
            </tr>
            <tr>
                <td><span class="bold">Unlimited Entry for One for One Month</span><br>
                    (includes outside food and drink fee)</td>
                <td>$40.00</td>
            </tr>
            <tr>
                <td>
                    <span class="bold">Unlimited Entry for Up to Two Parents and Up to Three Children for Three Months</span>
                </td>
                <td>$200.00</td>
            </tr>
        </table>
        <div id="cake-pic">
            <img src="images/KM-cake.jpg" height="592px">
        </div>
    </div>
    <div class="float-left-33 align-center pad-10-px">
        <h2>Provisions at Brookline Cafe</h2>
        <table class="table table-bordered table-striped">
            <tr>
                <th colspan="2" class="align-center">Cold Drinks</th>
            </tr>
            <tr>
                <td>12 oz. Soda</td>
                <td>$2.00</td>
            </tr>
            <tr>
                <td>Juice</td>
                <td>$3.00</td>
            </tr>
            <tr>
                <td>Root Beer Milkshake</td>
                <td>$4.00</td>
            </tr>
            <tr>
                <td>Root Beer Float</td>
                <td>$5.00</td>
            </tr>
            <tr>
                <th colspan="2" class="align-center">Hot Drinks</th>
            </tr>
            <tr>
                <td>Fair-trade Coffee and Tea</td>
                <td>$2.00</td>
            </tr>
            <tr>
                <td>Cappuccino</td>
                <td>$4.00</td>
            </tr>
            <tr>
                <td>Latte</td>
                <td>$4.00</td>
            </tr>
            <tr>
                <td>Hot Chocolate</td>
                <td>$4.00</td>
            </tr>
            <tr>
                <th colspan="2" class="align-center">Snacks</th>
            </tr>
            <tr>
                <td>Chips</td>
                <td>$2.00</td>
            </tr>
            <tr>
                <td>Fresh-baked Pastries</td>
                <td>$3.00</td>
            </tr>
            <tr>
                <th colspan="2" class="align-center">Entrees</th>
            </tr>
            <tr>
                <td>Cheese Plate (single)</td>
                <td>$5.00</td>
            </tr>
            <tr>
                <td>Cheese Plate (table)</td>
                <td>$10.00</td>
            </tr>
            <tr>
                <td>Grilled Cheese</td>
                <td>$5.00</td>
            </tr>
            <tr>
                <td>Hot Dog (1)</td>
                <td>$3.00</td>
            </tr>
            <tr>
                <td>Hot Dogs (2)</td>
                <td>$5.00</td>
            </tr>
            <tr>
                <td>Special</td>
                <td>$5.00</td>
            </tr>
            <tr>
                <th class="align-center">Bringing Outside Food and/or Drink</th>
                <td>$2.00</td>
            </tr>
        </table>
    </div>
    <div class="float-right-34 align-center pad-10-px">
        <h2>Provisions at the Somerville Cafe</h2>
        <table class="table table-bordered table-striped">
            <tr>
                <td>Hot Coffee</td>
                <td>$2.10</td>
            </tr>
            <tr>
                <td>Hot Tea</td>
                <td>$3.10</td>
            </tr>
            <tr>
                <td>Iced Coffee</td>
                <td>$3.10</td>
            </tr>
            <tr>
                <td>Iced Tea</td>
                <td>$3.10</td>
            </tr>
            <tr>
                <td>Just Espresso (for the brave)</td>
                <td>$3.10</td>
            </tr>
            <tr>
                <td>Latte (hot, flavors available)</td>
                <td>$4.10</td>
            </tr>
            <tr>
                <td>Iced Latte</td>
                <td>$4.10</td>
            </tr>
            <tr>
                <td>Cappucino</td>
                <td>$4.10</td>
            </tr>
            <tr>
                <td>Hot Cocoa</td>
                <td>$4.10</td>
            </tr>
            <tr>
                <td>Mocha Latte</td>
                <td>$5.10</td>
            </tr>
            <tr>
                <td>Soft Drink/Soda</td>
                <td>$3.00</td>
            </tr>
            <tr>
                <td>Chai Latte</td>
                <td>$4.10</td>
            </tr>
            <tr>
                <td>Add a shot of espresso</td>
                <td>$1.50</td>
            </tr>
        </table>
    </div>
</div>