<div class="pad-10-px back-white-black-border margin-1">
    <h2>Search for Games: </h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="numPlayers" class="col-sm-2 control-label">
                <span class="color-red bold sz-lrg"> * </span>Number of Players:
            </label>
            <div class="col-sm-10">
                <input type="text" id="numPlayers" class="form-control" required ng-model="criteria.numPlayers">
            </div>
        </div>
        <div class="form-group">
            <label for="keyword" class="col-sm-2 control-label">Keyword Search:</label>
            <div class="col-sm-10">
                <input type="text" id="keyword" class="form-control" ng-model="criteria.keywords">
            </div>
            <div class="col-sm-offset-2">  Please separate search terms by a comma.</div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <label>Type: </label>
                <div class="checkbox">
                    <div class="float-left-25">
                        <label>
                            <input type="checkbox" id="coOp" ng-model="criteria.coOp" ng-true-value="true" ng-false-value="false"> Co-op
                        </label><br>
                        <label>
                            <input type="checkbox" id="strategy" ng-model="criteria.strategy" ng-true-value="true" ng-false-value="false"> Strategy
                        </label><br>
                        <label>
                            <input type="checkbox" id="party" ng-model="criteria.party" ng-true-value="true" ng-false-value="false"> Party
                        </label><br>
                        <label>
                            <input type="checkbox" id="classic" ng-model="criteria.classic" ng-true-value="true" ng-false-value="false"> Classic
                        </label>
                    </div>
                    <div class="left-div">
                        <label>
                            <input type="checkbox" id="worker-placement" ng-model="criteria.worker" ng-true-value="true" ng-false-value="false"> Worker Placement
                        </label><br>
                        <label>
                            <input type="checkbox" id="resource-management" ng-model="criteria.resource" ng-true-value="true" ng-false-value="false"> Resource Management
                        </label><br>
                        <label>
                            <input type="checkbox" id="deck-building" ng-model="criteria.deck" ng-true-value="true" ng-false-value="false"> Deck-building
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <label>Location: </label>
                <div class="radio">
                    <input type="radio" name="loc" id="CC" ng-model="criteria.CC" value="true"> Coolidge Corner<br>
                    <input type="radio" name="loc" id="Teele" ng-model="criteria.Teele" value="true"> Teele Square
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="lowest-age" class="col-sm-2 control-label">
                Age of Youngest Player:
            </label>
            <div class="col-sm-10">
                <input type="number" id="lowest-age" class="form-control" min="1" ng-model="criteria.lowAge">
            </div>
        </div>
        <div class="form-group">
            <label for="playtime" class="col-sm-2 control-label">
                Length of desired playtime in hours:
            </label>
            <div class="col-sm-10">
                <input type="number" id="playtime" class="form-control" min="0.25" step="0.25" ng-model="criteria.playtime">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="controller.search(criteria)">Search</button>
            </div>
        </div>
    </form>

    <table class="table table-bordered" ng-show="results">
        <tr>
            <th>Name</th>
            <th>Picture</th>
            <th>Description</th>
            <th>Number of Players</th>
            <th>Playing Time (hr)</th>
            <th>Age Range</th>
            <th>Type(s)</th>
            <th>Location</th>
            <th>Players</th>
        </tr>
        <tr ng-repeat="library in controller.results">
            <td>  {{library.Name}}  </td>
            <td><img ng-src="{{library.Picture}}" width="100px" /></td>
            <td>  {{library.Description}}  </td>
            <td>  {{library.Min_Num_of_Players }} -  {{library.Max_Num_of_Players}}  </td>
            <td>  {{library.Min_Playing_Time}}  -  {{library.Max_Playing_Time}}  </td>
            <td>  {{library.Min_Age}}  -  {{library.Max_Age}}  </td>
            <td>
                <span ng-if="library.Co_op">
                Co-op<br>
                    </span>
            <span ng-if="library.Strategy">
                Strategy<br>
            </span>
                <span ng-if="library.Party">
                Party<br>
                    </span>
                <span ng-if="library.Classic">
                    Classic<br>
                    </span>
                <span ng-if="library.Worker_placement">
                Worker placement<br>
                    </span>
                <span ng-if="library.Resource_management">
                Resource management  <br>
                    </span>
                <span ng-if="library.Deck_building">
                Deck building
                    </span>
            </td>
            <td>
                <span ng-if="library.Coolidge_Corner">
                    Coolidge Corner<br>
                    </span>
                <span ng-if="library.Teele_Square">
                    Teele Square
                    </span>
            </td>
            <td><p ng-repeat="playerId in library.Players">{{playerId}}</p></td>
        </tr>
    </table>
</div>